<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.maven.ide.eclipse.Maven2LaunchConfigurationType">
<booleanAttribute key="M2_DEBUG_OUTPUT" value="false"/>
<stringAttribute key="M2_GOALS" value="clean deploy"/>
<booleanAttribute key="M2_NON_RECURSIVE" value="false"/>
<booleanAttribute key="M2_OFFLINE" value="false"/>
<stringAttribute key="M2_PROFILES" value="windows-x64-mingw_w64 debug"/>
<listAttribute key="M2_PROPERTIES">
<listEntry value="qtsdk.home=F:\qt_git4.7_4.7.4.20110728T133114Z_win64_mingw64_debug"/>
<listEntry value="jdk.home=C:\Program Files\Java\jdk1.6.0_26"/>
<listEntry value="jre.home=C:\Program Files\Java\jdk1.6.0_26\jre"/>
<listEntry value="mingw_w64.home=C:\mingw-w64-bin_i686-mingw_20110420"/>
<listEntry value="cross_compile=x86_64-w64-mingw32-"/>
<listEntry value="toolchain=mingw_w64"/>
<listEntry value="qmake.make.target=debug"/>
<listEntry value="mingw.home=C:\MinGW"/>
</listAttribute>
<stringAttribute key="M2_RUNTIME" value="EMBEDDED"/>
<booleanAttribute key="M2_SKIP_TESTS" value="false"/>
<booleanAttribute key="M2_UPDATE_SNAPSHOTS" value="true"/>
<booleanAttribute key="M2_WORKSPACE_RESOLUTION" value="false"/>
<stringAttribute key="org.eclipse.debug.core.ATTR_REFRESH_SCOPE" value="${project}"/>
<stringAttribute key="org.eclipse.debug.core.source_locator_id" value="org.maven.ide.eclipse.launching.MavenSourceLocator"/>
<stringAttribute key="org.eclipse.debug.core.source_locator_memento" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;sourceLookupDirector&gt;&#13;&#10;&lt;sourceContainers duplicates=&quot;false&quot;&gt;&#13;&#10;&lt;container memento=&quot;&amp;lt;?xml version=&amp;quot;1.0&amp;quot; encoding=&amp;quot;UTF-8&amp;quot; standalone=&amp;quot;no&amp;quot;?&amp;gt;&amp;#13;&amp;#10;&amp;lt;workspace/&amp;gt;&amp;#13;&amp;#10;&quot; typeId=&quot;org.eclipse.debug.core.containerType.workspace&quot;/&gt;&#13;&#10;&lt;container memento=&quot;&amp;lt;?xml version=&amp;quot;1.0&amp;quot; encoding=&amp;quot;UTF-8&amp;quot; standalone=&amp;quot;no&amp;quot;?&amp;gt;&amp;#13;&amp;#10;&amp;lt;default/&amp;gt;&amp;#13;&amp;#10;&quot; typeId=&quot;org.eclipse.debug.core.containerType.default&quot;/&gt;&#13;&#10;&lt;/sourceContainers&gt;&#13;&#10;&lt;/sourceLookupDirector&gt;&#13;&#10;"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Daether.connector.requestTimeout=300001"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:/org.qtjambi.releng.windows.x64.mingw_w64.generator.debug}"/>
</launchConfiguration>
